.ipynb_checkpoints/
Color Vision API and Clothing Detection/.ipynb_checkpoints/
Final Report
Midterm Report
Video
Proposal
Experimentation/Recommendation/polyvore
Experimentation/Recommendation/dataset
Modules/Clothing Classification/dsci551-2480c-4e478b8d0198.json
Experimentation/Color Vision API and Clothing Detection/dsci551-2480c-4e478b8d0198.json
Experimentation/UI/Authentication/dsci551-2480c-4e478b8d0198.json
Experimentation/UI/Authentication/dsci551-2480c-firebase-adminsdk-618ag-661cea2016.json